<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <!-- import CSS -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css" />
  <!-- import vue  -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-router@3.1.5/dist/vue-router.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuex@3.1.2/dist/vuex.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios@0.19.2/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/echarts@4.6.0/dist/echarts.simple.min.js"></script>
</head>
<style type="text/css">
  .msgCss {
    font-size: 16px;
    font-weight: 500;
  }
</style>

<body>
  <div id="app">
    <template>
      <el-config-provider namespace="ep" style="background-color: #E2D8D0;">
        <!-- 设置head -->
        <el-menu class="menu" mode="horizontal" style="background-color: #F9A647;">
          <el-menu-item index="1"
            style="color: rgb(0, 0, 0); font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: larger;">Mini-ChatGPT</el-menu-item>
          <el-menu-item index="2">
            <el-button @click="visible = true" type="primary" style="background-color: lightskyblue;">Start</el-button>
          </el-menu-item>
          <el-menu-item index="3">
            <el-button  @click="(e)=>{
            visible1 = true;
            getData();
            }" type="success">热搜榜单</el-button>
          </el-menu-item>
        </el-menu>
       <!-- 设置side -->
        <div style="background-color: #E2D8D0; height:fit-content;" >
          <div style="float: left; width: 150px; background-color: #185864;">
            <el-menu style="height: 700px; width: 150px; background-color: #185864;">
              <el-menu-item style="background-color: #E2D8D0;">
                <template>主页</template>
              </el-menu-item>
            </el-menu>
          </div>
          <!-- 设置走马灯 -->
          <div class="block_text-center">
            <span class="demonstration"><p><b>Let's Start!</b></p></span>
            <el-carousel :interval="4000" height="300px" type="card">
              <el-carousel-item v-for="item in 3" :key="item">
              </el-carousel-item>
            </el-carousel>
          </div>
          <div style="height: 295px;">
  
          </div>
  
          <!-- 设置对话框 -->
          <el-dialog :visible.sync="visible" title="对话框" width="70%" draggable="true" >
            <!-- Chat Box -->
            <div style="height: 500px; overflow-y: auto;" id="bigBox">
              <div v-for="(item, index) in list" class="msgCss" :style="{textAlign: item.align}">
                <span v-if="item && item.align == 'left'">
                  <div class="robotBox">
                    <img style="
                    width: 50px;
                    height: 50px;
                    vertical-align: middle;
                    border-radius: 50%;
                    padding-right: 10px;
                  " src=".\image\robot.jpg" alt="" />
                    <span v-if="item && item.link == ''" class="robotText">{{item.text}}</span>
                    <span v-if="item && item.link">: <a :href="item.link" target="_blank">{{item.text}}</a></span>
                  </div>
                </span>
                <span v-if="item && item.align == 'right'">
                  <div class="userBox">
                    <span class="userText">{{item.text}}</span>
                    <img style="
                    width: 50px;
                    height: 50px;
                    vertical-align: middle;
                    border-radius: 50%;
                    padding-right: 10px;
                    padding-left: 10px;
                  " src=".\image\user.jpg" alt="" />
                  </div>
  
                </span>
              </div>
            </div>
            <!-- input area -->
            <div style="margin-top: 15px">
              <el-autocomplete autosize :fetch-suggestions="querySearch" placeholder="请输入内容" v-model="input3" class="input-with-select" @select="handleSelect" ref="serachBox" style="width: 100%;">
                <el-button :loading="loading" @keydown.enter.native="handleMsg" slot="append" type="primary"
                @click="handleMsg">send</el-button>
              </el-autocomplete>
            </div>
          </el-dialog>
  
          <!-- 设置热搜框 -->
          <el-dialog class="hot_search" :visible.sync="visible1" title="热搜榜单" width="80%">
            <el-table :data="tableData" stripe style="height: 500px ; width: 100%">
              <el-table-column prop="question" label="Question" />
            </el-table>
          </el-dialog>
        
        </div>
      </el-config-provider>
    </template>
  </div>
</body>

<script>
  if (typeof Vue == "undefined") {
    document.write(
      unescape(
        "%3Cscript src='vendor/vue.min.js' type='text/javascript'%3E%3C/script%3E"
      )
    );
  }
  if (typeof VueRouter == "undefined") {
    document.write(
      unescape(
        "%3Cscript src='vendor/vue-router.min.js' type='text/javascript'%3E%3C/script%3E"
      )
    );
  }
  if (typeof Vuex == "undefined") {
    document.write(
      unescape(
        "%3Cscript src='vendor/vuex.min.js' type='text/javascript'%3E%3C/script%3E"
      )
    );
  }
  if (typeof axios == "undefined") {
    document.write(
      unescape(
        "%3Cscript src='vendor/axios.min.js' type='text/javascript'%3E%3C/script%3E"
      )
    );
  }
</script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
  //创建vue框架
  new Vue({
    el: "#app",
    data: function () {
      return {
        visible1: false,
        visible: false,
        input3: "",
        list: [],
        loading: false,
        tableData: [],
        dialogVisible: false
      };
    },
    created: function (){
      document.addEventListener("keydown", (e) => {
        let key = window.event.keyCode;
        if (key == 13 && !this.loading) {
          // 13是enter键的键盘码 如果等于13 就调用click的登录方法
          this.handleMsg();
        }
      });
    },
    methods: {
      visible11() {
        this.visible = true;
        this.$nextTick(() => {
          this.$refs.serachBox.focus();
        });
      },
      async handleMsg() {
        console.log(this.input3, "发送信息");
        if (this.input3 !== "") {
          this.loading = true;
          await this.list.push({ align: "right", text: this.input3 });
          await this.scrollTop11();
          this.getMsg();
          this.input3 = "";
        }
      },
      getMsg() {
        // 处理自己的接口请求 返回需要的数据
        axios
          .post("http://127.0.0.1:8000/dialog",
            { info: this.input3 }
          )
          .then(async (response) => {
            console.log(response);
            if (response.status == 200) {
              const msg = response.data;
              let listMsg = {
                align: "left",
                text: msg[0].answer,
                link: "", 
              };
              await this.list.push(listMsg);
              await this.scrollTop11();
            }
            this.loading = false;
          })
          .catch(function (error) {
            console.log(error);
            this.loading = false;
          });
      },
      getData(){
        axios
        .post("http://127.0.0.1:8000/data")
        .then((response) => {
            if(response.status == 200){
              const data =response.data;
              for(var i = 0;i < 4; i++){
                let tableDataMsg = {
                  id: data[i].id,
                  question: data[i].question,
                  answer: data[i].answer,
                  number: data[i].number,
                };
                this.tableData.push(tableDataMsg);
              }
              this.tableData.sort((a,b)=> b.number - a.number);
            }
        })
        .catch(function (error) {
            console.log(error);
            this.loading = false;
          });
      },
      // 处理滚动条一直保持最上方
      scrollTop11() {
        let div = document.getElementById("bigBox");
        div.scrollTop = div.scrollHeight;
      },

      querySearch(queryString, cb) {
        var restaurants = this.restaurants;
        var results = queryString ? restaurants.filter(this.createFilter(queryString)) : restaurants;
        // 调用 callback 返回建议列表的数据
        cb(results);
      },
      createFilter(queryString) {
        return (restaurant) => {
          return (restaurant.value.toLowerCase().indexOf(queryString.toLowerCase()) === 0);
        };
      },
      loadAll() {
        return [
          { "value": "hello", "address": "1" },
          { "value": "How do you judge ChatGPT?", "address": "2" },
          { "value": "nice to meet you", "address": "3" },
          { "value": "Who are you?", "address": "4" },
        ];
      },
      handleSelect(item) {
        console.log(item);
      },
    },
    mounted() {
        this.restaurants = this.loadAll();
    }
  });
</script>

<style>
.robotBox{
  width: 100%;
  float: left;
  position: relative;
}
.robotText{
  padding: 5px 10px;
  background-color: #ffffff;
  font-size: 14px;
  border-radius: 2px;
}
.userBox{
  width: 100%;
  float: right;
  position: relative;
}
.userText{
  padding: 10px 5px;
  background-color: #98E165;
  font-size: 14px;
  border-radius: 2px;
}
</style>

<style scoped>
  .demonstration p{
    /* color: var(--el-text-color-secondary); */
    text-align: center;
    font-family:'Arial Black, Gadget, sans-serif';
    font-size:xx-large;
  }
  
  .el-carousel__item h3 {
    color: #475669;
    opacity: 0.75;
    line-height: 150px;
    margin: 0;
    text-align: center;
  }
  
  .el-carousel__item:nth-child(3n) {
    background-image: url(./image/2.jpg);
    background-color: #99a9bf;
  }
  
  .el-carousel__item:nth-child(3n + 1) {
    background-image: url(./image/robot.jpg);
    background-color: #d3dce6;
  }

  .el-carousel__item:nth-child(3n + 2) {
    background-image: url(./image/1.jpg);
    background-color: #d3dce6;
  }
</style>

</html>